<template>
  <div>
    <div class="p-grid p-mt-5">

      <div class="box p-col-12 p-md-8 p-md-offset-2">
        <h3 class="p-mt-0 p-mb-5">Network</h3>
        <div class="p-pt-0" v-if="walletName.length > 0">
          <p>Target Chain: &nbsp;&nbsp; {{targetChainId}}</p>
          <p>Wallet Chain: &nbsp;&nbsp; {{chainId}}</p>
          <p>Wallet Name: &nbsp;&nbsp; {{walletName}}</p>
          <p>User Address: &nbsp;&nbsp; <span style="color: #fff; letter-spacing: 1px;">{{userAddress}}</span></p>
        </div>
        <div class="p-grid p-mt-1">
          <div class="p-col">
            <Button label="Connect Wallet" @click="connectWallet()"/>
          </div>
          <div class="p-col" v-if="walletConnected && walletName == 'WalletConnect'">
            <Button label="Disconnect WalletConnect" @click="disconnectWallet()"/>
          </div>
          <div class="p-col" v-if="walletConnected">
            <Button label="Test Network" @click="testNetwork()" v-tooltip="'Get gas price and user balance'" />
          </div>
        </div>
      </div>

      <div class="box p-col-12 p-md-8 p-md-offset-2 p-mt-5">
        <h3 class="p-mt-0 p-mb-5">Subgraph</h3>
        <div class="p-pt-0">
          <p>Graph explorer: &nbsp;&nbsp; <a target="_blank" style="color: #fff !important;" href="https://thegraph.com/explorer/subgraph/fintropy/data">fintropy / data</a></p>
        </div>
        <div class="p-grid p-mt-3">
          <div class="p-col p-col-fixed p-pt-3" style="width: 180px">
            <Button label="Get Account" @click="graphGetAccount()"/>
          </div>
          <div class="p-col p-col-fixed p-pt-3" style="width: 180px">
            <Button label="Get User PortTokens" @click="graphGetPortTokens()"/>
          </div>
        </div>
        <div class="p-mt-3" style="margin:5px 0;" v-if="graphQueryResult.length">
          <Textarea v-model="graphQueryResult" rows="10" style="width:100%;"  />
        </div>
        <div class="p-grid p-mt-3">
          <div class="p-col p-col-fixed p-pt-3" style="width: 60px">
            <Button icon="pi pi-refresh" @click="graphUpdateTotalUserBalance()" v-tooltip="'Update total balance'"/>
          </div>
          <div class="p-col p-col-fixed p-pt-4" style="width: 150px">
            <Checkbox id="swap-direction-graph'" v-model="graphTargetSwapDirectionOut" :binary="true" />
            <label class="p-ml-2" for="swap-direction-graph">Direction out</label>
          </div>
          <div class="p-col p-col-fixed" style="width: 170px">
            <p>Total user balance in</p>
          </div>
          <div class="p-col p-col-fixed" style="width: 130px">
            <Dropdown v-model="tokenSymbol" :options="tokenSymbols" />
          </div>
          <div class="p-col">
            <p> : &nbsp;&nbsp; {{graphTotalBalance}}</p>
          </div>
        </div>
      </div>      

      <div class="box p-col-12 p-md-8 p-md-offset-2 p-mt-5">
        <h3 class="p-mt-0 p-mb-5">Contracts</h3>
        <div class="p-mt-2">
          <Button label="Get Coins" @click="getBaseCoins()" v-tooltip="'Transfer some base network coins and test ERC20 coins to user account'" />
        </div>
        <div class="p-grid p-mt-3">
          <div class="p-col p-col-fixed p-pt-3" style="width: 60px">
            <Button icon="pi pi-refresh" @click="updateTokenBalance()" v-tooltip="'Update ' + tokenSymbol + ' balance'"/>
          </div>
          <div class="p-col p-col-fixed" style="width: 120px">
            <p>User ERC20</p>
          </div>
          <div class="p-col p-col-fixed" style="width: 130px">
            <Dropdown v-model="tokenSymbol" :options="tokenSymbols" />
          </div>
          <div class="p-col" style="width: 340px">
            <p>balance: &nbsp;&nbsp; {{tokenBalance}}</p>
          </div>
        </div>
        <Divider />
        <div class="p-mt-4">
          <Button label="Fetch User's PortTokens" @click="getUserPortTokens()"/>
        </div>
        <div class="p-pt-2" v-if="walletName.length > 0">
          <p>Number of PortTokens with non-zero user balance: &nbsp;&nbsp; {{userPortTokens.length}}</p>
        </div>
        <div class="p-grid p-mt-3">
          <div class="p-col p-col-fixed p-pt-3" style="width: 60px">
            <Button icon="pi pi-refresh" @click="updateTotalUserBalance()" v-tooltip="'Update total balance'"/>
          </div>
          <div class="p-col p-col-fixed p-pt-4" style="width: 150px">
            <Checkbox id="swap-direction-contracts'" v-model="contractTargetSwapDirectionOut" :binary="true" />
            <label class="p-ml-2" for="swap-direction-contracts">Direction out</label>
          </div>
          <div class="p-col p-col-fixed" style="width: 170px">
            <p>Total user balance in</p>
          </div>
          <div class="p-col p-col-fixed" style="width: 130px">
            <Dropdown v-model="tokenSymbol" :options="tokenSymbols" />
          </div>
          <div class="p-col">
            <p> : &nbsp;&nbsp; {{totalBalance}}</p>
          </div>
        </div>
      </div>

      <div class="box p-col-12 p-md-8 p-md-offset-2 p-mt-5 p-mb-5" v-if="walletConnected">
        <h3 class="p-mt-0 p-mb-5">Portfolio Tokens</h3>

        <div class="p-mb-4">
          <Button label="Fetch All PortTokens from Graph" @click="graphGetAllPortTokens()"/>
        </div>

        <TabView>
          <TabPanel header="Invest">
            <p v-if="data.portfolio_tokens.length < 1">
              Create one!
            </p>
            <Accordion :multiple="false" class="p-mt-3" v-on:tab-open="tabOpened">
              <AccordionTab :header="item.name.toUpperCase()" v-for="item in data.portfolio_tokens" :key="item.address" >
                <p class="p-mt-1">PortToken address: &nbsp;&nbsp; <span style="color: #fff; letter-spacing: 1px;">{{item.address}}</span></p>
                <div class="p-grid p-mt-2">
                  <div class="p-col p-col-fixed p-pt-3" style="width: 60px">
                    <Button icon="pi pi-refresh" @click="updatePortTokenBalance(item.address)" v-tooltip="'Update'" style="margin-top:5px" />
                  </div>
                  <div class="p-col" style="width: 340px">
                    <p>User PortToken balance: &nbsp;&nbsp; {{portTokenBalance}} * 10<sup>18</sup></p>
                  </div>
                </div>
                <div class="p-grid p-mt-2">
                  <div class="p-col p-col-fixed p-pt-3" style="width: 60px">
                    <Button icon="pi pi-refresh" @click="updateTargetTokenAmount(item.address)" :disabled="amount == 0" v-tooltip="'Update'" />
                  </div>
                  <div class="p-col p-col-fixed p-pt-4" style="width: 150px">
                    <Checkbox :id="item.address + '-swapout'" v-model="targetSwapDirectionOut" :binary="true" />
                    <label class="p-ml-2" :for="item.address + '-swapout'">Direction out</label>
                  </div>
                  <div class="p-col p-col-fixed" style="width: 120px">
                    <p>Target ERC20</p>
                  </div>
                  <div class="p-col p-col-fixed" style="width: 130px">
                    <Dropdown v-model="targetTokenSymbol" :options="targetTokenSymbols" />
                  </div>
                  <div class="p-col p-pt-0">
                    <p> amount: &nbsp;&nbsp; {{targetTokenAmount}} * 10<sup>{{lod.filter(data.tokens, t => t.symbol == targetTokenSymbol)[0].decimals}}</sup></p>
                  </div>
                </div>
                <Divider />
                <div class="p-grid p-mt-2">
                  <div class="p-col">
                    <span class="p-float-label">
                      <InputNumber :id="item.address + '-amount'" v-model="amount" mode="decimal" :max="100000" :minFractionDigits="10" :maxFractionDigits="10" :suffix="' * 1e18'" spellcheck="false" />
                      <label :for="item.address + '-amount'">Amount</label>
                    </span>
                  </div>
                  <div class="p-col">
                    <Dropdown v-model="tokenSymbol" :options="tokenSymbols" />
                  </div>
                  <div class="p-col">
                    <span class="p-float-label">
                      <InputNumber :id="item.address + '-slippage'" v-model="slippage" mode="decimal" suffix=" * 100%" :max="0.1" :minFractionDigits="4" :maxFractionDigits="4" spellcheck="false" v-tooltip="'Part of the price to be added to the allowance'" />
                      <label :for="item.address + '-slippage'">Slippage</label>
                    </span>
                  </div>
                  <div class="p-col-5">
                    <div class="p-grid">
                      <div class="p-col">
                        <Button :label="'Invest ' + tokenSymbol" @click="invest(item.address, true)" :disabled="amount == 0" />
                      </div>
                      <div class="p-col">
                        <Button label="Invest Internals" @click="invest(item.address)" :disabled="amount == 0" />
                      </div>
                      <div class="p-col">
                        <Button :label="'Withdraw ' + tokenSymbol" @click="withdraw(item.address, true)" :disabled="amount == 0" />
                      </div>
                      <div class="p-col">
                        <Button label="Withdraw Internals" @click="withdraw(item.address)" :disabled="amount == 0" />
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <Button class="p-mt-1 p-mb-2" label="Show Internals" @click="showTokenAmounts(item.address)" />
                </div>
                <p class="p-ml-3" v-for="(item, index) in internalTokenAmounts" :key="index">
                  {{internalTokenNames[index]}} : &nbsp;&nbsp; {{item}}
                </p>
                <div class="p-mt-2">
                  <Button class="p-mt-1 p-mb-2" label="Calculate Internals" @click="calculateTokenAmounts(item.address)" :disabled="amount == 0" />
                </div>
                <p class="p-ml-3" v-for="(item, index) in calculatedInternalTokenAmounts" :key="index">
                  {{internalTokenNames[index]}} : &nbsp;&nbsp; {{item}}
                </p>
              </AccordionTab>
            </Accordion>
          </TabPanel>

          <TabPanel header="Create">
            <div class="p-mt-2"></div>
            <div class="box p-mt-3" v-for="item of data.tokens" :key="item.address">
              <div class="p-grid">
                <div class="p-col">
                  <Checkbox :id="item.address" :value="item" v-model="selectedTokens" />
                  <label class="p-ml-2" :for="item.address">{{item.name}} ({{item.symbol}})</label>
                </div>
                <div class="p-text-right">
                <div class="p-col">
                  <span class="p-float-label">
                    <InputNumber :id="item.address + '-amount-new'" v-model="tokenValues[item.address]" mode="decimal" :min="0.000001" :max="1000" :minFractionDigits="6" :maxFractionDigits="6" :suffix="' * 1e' + item.decimals" spellcheck="false" />
                    <label :for="item.address + '-amount-new'">Amount</label>
                  </span>
                </div>
                </div>
              </div>
              <div class="p-grid">
                <div class="p-col">
                  <Slider class="p-mt-3" v-model="tokenValues[item.address]" :min="0.000001" :step="0.000001" :max="1000" />
                </div>
              </div>
            </div>

            <div class="p-grid p-mt-4 p-mb-3">
              <div class="p-col">
                <span class="p-float-label">
                  <InputText id="newTokenName" type="text" v-model="newTokenName" autocomplete="off" />
                  <label for="newTokenName">New Token Name</label>
                </span>
              </div>
            </div>

            <Button label="Create" @click="createToken()" :disabled="newTokenName.length < 1 || selectedTokens.length < 1" />
          </TabPanel>
        </TabView>
      </div>
    </div>
    <Dialog header="Wrong Chain" v-model:visible="wrongChainModalVisible" :modal="true">
        <p class="p-m-0">Please change current network to {{targetChainId == 31337 ? 'localhost' : targetNetwork}} ({{targetChainId}}) in your wallet</p>
        <template #footer>
            <Button label="Ok" icon="pi pi-check" @click="wrongChainModalVisible=false" autofocus />
        </template>
    </Dialog>
    <Dialog header="Connect Wallet" v-model:visible="connectModalVisible" :modal="true">
      <div class="p-grid">
        <div class="p-col">
          <Button class="" label="Metamask" @click="finw3.ConnectWallet(finw3.walletNames.Metamask)"/>
        </div>
        <div class="p-col">
          <Button class="" label="Wallet Connect" @click="finw3.ConnectWallet(finw3.walletNames.WalletConnect)"/>
        </div>
      </div>
    </Dialog>
    <Toast />
  </div>
</template>


<script>
const {FintropyWeb3} = require('fint-web3')

import {ethers} from 'ethers'
import _ from 'lodash'

const config = require('../config/config.json')

import { ref } from 'vue';

export default {
  name: 'Fintopy',

  data() {
    this.finw3 = new FintropyWeb3(config)
    this.lod = _

    let data = {
      portfolio_tokens: [
        // {
        //   address: '0x73b30f935a11B0c41e9Ba07053D9bdba338cD3b9',
        //   name: 'MISHA',
        // }
      ],
      tokens: config.tokens,
    }

    let tokenValues = {}
    data.tokens.forEach((token) => {
      tokenValues[token.address] = 1
    })

    let tokenSymbols = _.map(config.tokens, v => v.symbol)
    let targetTokenSymbols = _.map(config.tokens, v => v.symbol)

    return {
      data: data,

      userPortTokens: [],

      amount: 0,
      slippage: 0.05,
      internalTokenNames: [],
      internalTokenAmounts: [],
      calculatedInternalTokenAmounts: [],

      tokenSymbols: tokenSymbols,
      tokenSymbol: tokenSymbols[0],
      selectedTokens: [],
      tokenValues: tokenValues,

      targetTokenSymbols: targetTokenSymbols,
      targetTokenSymbol: targetTokenSymbols[0],

      newTokenName: 'Portfolio Token',

      tokenBalance: '0',
      portTokenBalance: '0',
      totalBalance: '0',

      graphTotalBalance: '0',
      graphQueryResult: '',

      graphTargetSwapDirectionOut: ref(true),
      contractTargetSwapDirectionOut: ref(true),
      targetSwapDirectionOut: ref(true),
      targetTokenAmount: 0,
      targetTokenDecimals: 18,

      walletName: '',
      targetNetwork: config.network,
      targetChainId: parseInt(config.chain_id),
      chainId: null,
      userAddress: '',
      walletConnected: false,
      connectModalVisible: false,
      wrongChainModalVisible: false,
    }
  },

  mounted() {
    (async () => {
      this.finw3.ConnectWallet(this.finw3.walletNames.Metamask)
    })()

    this.finw3.on(FintropyWeb3.EventNames.Connect, (event) => {
      this.$toast.add({
        severity:'info',
        summary: `${FintropyWeb3.EventNames.Connect}`,
        detail: `Type: ${event.walletName}`,
        life: 6000
      });
      this.walletName = event.walletName
      this.walletConnected = true
      this.connectModalVisible = false
    })

    this.finw3.on(FintropyWeb3.EventNames.WalletConnectQRModalClose, (event) => {
      this.$toast.add({
        severity:'info',
        summary: `${FintropyWeb3.EventNames.WalletConnectQRModalClose}`,
        detail: `Type: ${event.walletName}`,
        life: 6000
      });
      this.walletConnected = false
      this.connectModalVisible = false
    })

    this.finw3.on(FintropyWeb3.EventNames.Disconnect, (event) => {
      this.$toast.add({
        severity:'info',
        summary: `${FintropyWeb3.EventNames.Disconnect}`,
        detail: `Type: ${event.walletName}`,
        life: 6000
      });
      this.walletName = ''
      this.userAddress = ''
      this.chainId = null
      this.walletConnected = false
      this.connectModalVisible = false
    })

    this.finw3.on(FintropyWeb3.EventNames.NetworkChange, (event) => {
      this.$toast.add({
        severity:'info',
        summary: `${FintropyWeb3.EventNames.NetworkChange}`,
        detail: `${event.network.name}`, 
        life: 6000
      });
      this.chainId = event.network.chainId
      this.connectModalVisible = false
      if (this.chainId != this.targetChainId) {
        this.wrongChainModalVisible = true
      }
    })

    this.finw3.on(FintropyWeb3.EventNames.SignerChange, (event) => {
      this.$toast.add({
        severity:'info',
        summary: `${FintropyWeb3.EventNames.SignerChange}`,
        detail: `${event.userAddress}`, 
        life: 6000
      });
      this.userAddress = event.userAddress
      this.connectModalVisible = false
    })

    this.finw3.on(FintropyWeb3.EventNames.Message, (event) => {
      this.$toast.add({
        severity:'info',
        summary: `${FintropyWeb3.EventNames.Message}`,
        detail: `${event.message}`, 
        life: 6000
      });
    })

  },

  methods: {
    connectWallet() {
      this.connectModalVisible = true
    },

    disconnectWallet() {
      this.finw3.DisconnectWallet()
    },

    async testNetwork() {
      this.finw3._testNetwork()

      await this.depositFint()
    },

    async depositFint() {
      let fint = new ethers.Contract(
        '0xf642757346C1ABD9bB31Ca37FA4c004cd1159dB3',
        config.abi['WrappedToken'],
        this.finw3.signer
      )

      // let usdc = new ethers.Contract(
      //   '0x2791bca1f2de4661ed88a30c99a7a9449aa84174',
      //   config.abi['VanilaERC20'],
      //   this.finw3.signer
      // )

      // let amount = ethers.utils.parseUnits('10', 6)
      // // await usdc.approve(fint.address, amount)
      // console.log('2')
      // await fint.deposit(
      //   amount,
      //   await this.finw3.contracts.getGas({
      //     gasLimit: ethers.BigNumber.from(2e5)
      //   }, this.finw3.signer, 1, 'fast')
      // )

      console.log('fint balance', ethers.utils.formatUnits(await fint.balanceOf(this.finw3.userAddress), 6))
    },

    async getBaseCoins() {
      this.$toast.add({
        severity:'info',
        summary: 'Request',
        detail: 'Submitted', 
        life: 6000
      })
      await this.finw3._getBaseCoins()
      this.$toast.add({
        severity:'success',
        summary: 'Network base token + ERC20 tokens',
        detail: 'Transfered tot your account', 
        life: 6000
      })
    },

    async createToken() {
      let newToken = {
        name: this.newTokenName,
        portfolio: []
      }
      this.selectedTokens.forEach((token) => {
        newToken.portfolio.push(
          Object.assign({}, token, {
            value: ethers.utils.parseUnits(this.tokenValues[token.address].toString(), token.decimals)
          }))
      })

      this.$toast.add({
        severity:'info',
        summary: this.newTokenName,
        detail: 'PortToken Submitted', 
        life: 6000
      })

      let createPortfolio = this.finw3.CreatePortfolio(newToken)

      let hash = await createPortfolio.next()

      console.log('new token transaction hash', hash.value)
      this.$toast.add({
        severity:'info',
        summary: this.newTokenName,
        detail: `new token transaction hash: ${hash.value}`, 
        life: 6000
      })

      let portTokenAddress = await createPortfolio.next()
      console.log('new token address', portTokenAddress.value)

      newToken.address = portTokenAddress.value
      this.data.portfolio_tokens.push(newToken)

      this.$toast.add({
        severity:'success',
        summary: this.newTokenName,
        detail: `address ${portTokenAddress}`, 
        life: 6000
      })
    },

    async updateTokenBalance() {
      let token = _.filter(this.data.tokens, token => token.symbol == this.tokenSymbol)[0]

      let balance = await this.finw3.GetERC20TokenBalance(token.address)
      this.tokenBalance = ethers.utils.formatUnits(balance, token.decimals)
    },

    async updateTotalUserBalance() {
      let token = _.filter(this.data.tokens, token => token.symbol == this.tokenSymbol)[0]

      let balance = await this.finw3.GetUserTotalBalance(token.address, this.contractTargetSwapDirectionOut)
      this.totalBalance = ethers.utils.formatUnits(balance, token.decimals)
    },

    async updatePortTokenBalance(tokenAddress) {
      let balance = await this.finw3.GetERC20TokenBalance(tokenAddress)
      this.portTokenBalance = ethers.utils.formatEther(balance)
    },

    async updateTargetTokenAmount(tokenAddress) {
      let amount = this.amount.toString()
      // let amount = this.portTokenBalance.toString()

      let targetToken = _.filter(this.data.tokens, token => token.symbol == this.targetTokenSymbol)[0]

      let result = await this.finw3.GetSingleTokenAmount(
        tokenAddress,
        ethers.utils.parseUnits(amount, config.port_token_decimals),
        targetToken.address,
        this.targetSwapDirectionOut
      )
      let targetAmount = result.amount
      this.targetTokenDecimals = result.decimals

      this.targetTokenAmount = ethers.utils.formatUnits(targetAmount, this.targetTokenDecimals)
    },

    async invest(tokenAddress, single=false) {
      let amount = this.amount.toString()

      this.$toast.add({
        severity:'info',
        summary: 'Token Issue',
        detail: 'Submitted', 
        life: 6000
      })

      const depositToken = _.filter(this.data.tokens, token => token.symbol == this.tokenSymbol)[0]

      if (single) {

        let isWrapped = !!depositToken.base_token_address
        console.log('isWrapped', isWrapped)

        var invest = this.finw3.InvestSingle(
          tokenAddress,
          depositToken.address,
          ethers.utils.parseUnits(amount, config.port_token_decimals),
          this.slippage,
          Math.floor(Date.now() / 1000) + 60 * 120, // 120 min from now
          isWrapped
        )

        let approvalStart = await invest.next()
        console.log(approvalStart.value.stageName, approvalStart.value)

        let investStart = await invest.next()
        console.log(investStart.value.stageName, investStart.value)

        let investCompleted = await invest.next()
        console.log(investCompleted.value.stageName, investCompleted.value)

      } else {
        await this.finw3.Invest(tokenAddress, ethers.utils.parseUnits(amount, config.port_token_decimals))
      }
      await this.updatePortTokenBalance(tokenAddress)

      this.$toast.add({
        severity:'success',
        summary: 'Token Issue',
        detail: 'Completed', 
        life: 6000
      })
    },

    async showTokenAmounts(tokenAddress) {
      let portTokenInfo = await this.finw3.GetPortTokenInfo(tokenAddress, true)

      this.internalTokenNames = []
      this.internalTokenAmounts = []

      const token = _.filter(this.data.tokens, token => token.symbol == this.tokenSymbol)[0]

      let swap_factory_address = '0xc35DADB65012eC5796536bD9864eD8773aBc74C4'

      let swap_factory_contract = new ethers.Contract(
        swap_factory_address,
        [{"inputs":[{"internalType":"address","name":"_feeToSetter","type":"address"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"token0","type":"address"},{"indexed":true,"internalType":"address","name":"token1","type":"address"},{"indexed":false,"internalType":"address","name":"pair","type":"address"},{"indexed":false,"internalType":"uint256","name":"","type":"uint256"}],"name":"PairCreated","type":"event"},{"constant":true,"inputs":[{"internalType":"uint256","name":"","type":"uint256"}],"name":"allPairs","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"allPairsLength","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"tokenA","type":"address"},{"internalType":"address","name":"tokenB","type":"address"}],"name":"createPair","outputs":[{"internalType":"address","name":"pair","type":"address"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"feeTo","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"feeToSetter","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"","type":"address"},{"internalType":"address","name":"","type":"address"}],"name":"getPair","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_feeTo","type":"address"}],"name":"setFeeTo","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_feeToSetter","type":"address"}],"name":"setFeeToSetter","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"}],
        this.finw3.provider
      )

      for (let intToken of portTokenInfo.portfolio) {

        if (!_.filter(this.data.tokens, token => token.address.toLowerCase() == intToken.address.toLowerCase())[0]) {
          this.data.tokens.push(intToken)
          this.tokenSymbols.push(intToken.symbol)
          this.targetTokenSymbols.push(intToken.symbol)
        }

        console.log('intToken', intToken.address)

        let pair_address = await swap_factory_contract.getPair(token.address, intToken.address)
        console.log(pair_address)
        let pair = new ethers.Contract(
          pair_address,
          [{"inputs":[],"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"owner","type":"address"},{"indexed":true,"internalType":"address","name":"spender","type":"address"},{"indexed":false,"internalType":"uint256","name":"value","type":"uint256"}],"name":"Approval","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"sender","type":"address"},{"indexed":false,"internalType":"uint256","name":"amount0","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"amount1","type":"uint256"},{"indexed":true,"internalType":"address","name":"to","type":"address"}],"name":"Burn","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"sender","type":"address"},{"indexed":false,"internalType":"uint256","name":"amount0","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"amount1","type":"uint256"}],"name":"Mint","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"sender","type":"address"},{"indexed":false,"internalType":"uint256","name":"amount0In","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"amount1In","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"amount0Out","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"amount1Out","type":"uint256"},{"indexed":true,"internalType":"address","name":"to","type":"address"}],"name":"Swap","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"internalType":"uint112","name":"reserve0","type":"uint112"},{"indexed":false,"internalType":"uint112","name":"reserve1","type":"uint112"}],"name":"Sync","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"from","type":"address"},{"indexed":true,"internalType":"address","name":"to","type":"address"},{"indexed":false,"internalType":"uint256","name":"value","type":"uint256"}],"name":"Transfer","type":"event"},{"inputs":[],"name":"DOMAIN_SEPARATOR","outputs":[{"internalType":"bytes32","name":"","type":"bytes32"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"MINIMUM_LIQUIDITY","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"PERMIT_TYPEHASH","outputs":[{"internalType":"bytes32","name":"","type":"bytes32"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"","type":"address"},{"internalType":"address","name":"","type":"address"}],"name":"allowance","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"spender","type":"address"},{"internalType":"uint256","name":"value","type":"uint256"}],"name":"approve","outputs":[{"internalType":"bool","name":"","type":"bool"}],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"","type":"address"}],"name":"balanceOf","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"to","type":"address"}],"name":"burn","outputs":[{"internalType":"uint256","name":"amount0","type":"uint256"},{"internalType":"uint256","name":"amount1","type":"uint256"}],"stateMutability":"nonpayable","type":"function"},{"inputs":[],"name":"decimals","outputs":[{"internalType":"uint8","name":"","type":"uint8"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"factory","outputs":[{"internalType":"address","name":"","type":"address"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"getReserves","outputs":[{"internalType":"uint112","name":"_reserve0","type":"uint112"},{"internalType":"uint112","name":"_reserve1","type":"uint112"},{"internalType":"uint32","name":"_blockTimestampLast","type":"uint32"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"_token0","type":"address"},{"internalType":"address","name":"_token1","type":"address"}],"name":"initialize","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[],"name":"kLast","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"to","type":"address"}],"name":"mint","outputs":[{"internalType":"uint256","name":"liquidity","type":"uint256"}],"stateMutability":"nonpayable","type":"function"},{"inputs":[],"name":"name","outputs":[{"internalType":"string","name":"","type":"string"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"","type":"address"}],"name":"nonces","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"owner","type":"address"},{"internalType":"address","name":"spender","type":"address"},{"internalType":"uint256","name":"value","type":"uint256"},{"internalType":"uint256","name":"deadline","type":"uint256"},{"internalType":"uint8","name":"v","type":"uint8"},{"internalType":"bytes32","name":"r","type":"bytes32"},{"internalType":"bytes32","name":"s","type":"bytes32"}],"name":"permit","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[],"name":"price0CumulativeLast","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"price1CumulativeLast","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"to","type":"address"}],"name":"skim","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"uint256","name":"amount0Out","type":"uint256"},{"internalType":"uint256","name":"amount1Out","type":"uint256"},{"internalType":"address","name":"to","type":"address"},{"internalType":"bytes","name":"data","type":"bytes"}],"name":"swap","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[],"name":"symbol","outputs":[{"internalType":"string","name":"","type":"string"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"sync","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[],"name":"token0","outputs":[{"internalType":"address","name":"","type":"address"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"token1","outputs":[{"internalType":"address","name":"","type":"address"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"totalSupply","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"to","type":"address"},{"internalType":"uint256","name":"value","type":"uint256"}],"name":"transfer","outputs":[{"internalType":"bool","name":"","type":"bool"}],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"from","type":"address"},{"internalType":"address","name":"to","type":"address"},{"internalType":"uint256","name":"value","type":"uint256"}],"name":"transferFrom","outputs":[{"internalType":"bool","name":"","type":"bool"}],"stateMutability":"nonpayable","type":"function"}],
          this.finw3.provider
        )

        let token0_address = await pair.token0()
        let t0 = new ethers.Contract(
          token0_address,
          config.abi['VanilaERC20'],
          this.finw3.provider
        )
        let t0n = await t0.name()
        let t0d = await t0.decimals()

        let token1_address = await pair.token1()
        let t1 = new ethers.Contract(
          token1_address,
          config.abi['VanilaERC20'],
          this.finw3.provider
        )
        let t1n = await t1.name()
        let t1d = await t1.decimals()

        let reserves = await pair.getReserves()

        console.log(`pair ${token0_address} ${token1_address}`)
        console.log(`${token0_address} ${ethers.utils.formatUnits(reserves[0], t0d)}`)
        console.log(`${token1_address} ${ethers.utils.formatUnits(reserves[1], t1d)}`)
        console.log()

        let amount = ethers.utils.formatUnits(intToken.value, intToken.decimals)

        this.internalTokenNames.push(intToken.name)
        this.internalTokenAmounts.push(`${amount} | ${t0n} / ${t1n} reserves: ${ethers.utils.formatUnits(reserves[0], t0d)} / ${ethers.utils.formatUnits(reserves[1], t1d)}`)
      }
    },

    async calculateTokenAmounts(tokenAddress) {
      this.showTokenAmounts(tokenAddress)

      let amount = this.amount.toString()

      let intTokens = await this.finw3.GetTokenAmounts(tokenAddress, ethers.utils.parseUnits(amount, config.port_token_decimals))

      this.calculatedInternalTokenAmounts = []

      for (let intToken of intTokens) {
        this.calculatedInternalTokenAmounts.push(ethers.utils.formatUnits(intToken.amount, intToken.decimals))
      }
    },

    async withdraw(tokenAddress, single=false) {
      let amount = this.amount.toString()

      console.log('withdraw amount', amount)

      this.$toast.add({
        severity:'info',
        summary: 'Withdraw',
        detail: 'Submitted', 
        life: 6000
      })

      const withdrawToken = _.filter(this.data.tokens, token => token.symbol == this.tokenSymbol)[0]

      if (single) {
        let isWrapped = !!withdrawToken.base_token_address
        let withdraw = this.finw3.WithdrawSingle(
          tokenAddress,
          withdrawToken.address,
          ethers.utils.parseUnits(amount, config.port_token_decimals),
          Math.floor(Date.now() / 1000) + 60 * 120, // 120 min from now
          isWrapped
        )

        let approvalStart = await withdraw.next()
        console.log(approvalStart.value.stageName, approvalStart.value)

        let withdrawStart = await withdraw.next()
        console.log(withdrawStart.value.stageName, withdrawStart.value)

        let withdrawCompleted = await withdraw.next()
        console.log(withdrawCompleted.value.stageName, withdrawCompleted.value)

      } else {
        await this.finw3.Withdraw(tokenAddress, ethers.utils.parseUnits(amount, config.port_token_decimals))
      }

      await this.updatePortTokenBalance(tokenAddress)

      this.$toast.add({
        severity:'success',
        summary: 'Withdraw',
        detail: 'Completed', 
        life: 6000
      })
    },

    async getUserPortTokens() {
      this.userPortTokens = await this.finw3.GetUserPortTokens()
    },

    async graphGetAccount(setResult=true) {
      let result = await this.finw3.GraphQueryAccounts(this.finw3.GetUserAddress())
      if (result.accounts.length) {
        let account = result.accounts[0]
        if (setResult) this.graphQueryResult = JSON.stringify(account, null, 2);
        return account
      }
      return null
    },

    async graphGetPortTokens(setResult=true) {
      let account = await this.graphGetAccount(false)
      if (!account) return null
      
      let portTokens = []

      for (const balance of account.balances) {
        let result = await this.finw3.GraphQueryPortTokens(balance.token.address)
        if (!result.portTokens.length) continue
        portTokens.push(result.portTokens[0])
      }

      if (setResult) {
        this.graphQueryResult = JSON.stringify(portTokens, null, 2);
      }

      return portTokens
    },

    async graphGetAllPortTokens() {
      let result = await this.finw3.GraphQueryPortTokens()
      let portTokensToAdd = []

      for (const userPortToken of result.portTokens) {
        if (!_.find(this.data.portfolio_tokens, t => t.address.toLowerCase() == userPortToken.address.toLowerCase())) {
          portTokensToAdd.push(userPortToken)
        }
      }

      for (const t of portTokensToAdd) {
        this.data.portfolio_tokens.push(t)
      }
    },

    async graphUpdateTotalUserBalance() {
      let account = await this.graphGetAccount(false)
      if (!account) return

      let totalUserBalance = ethers.BigNumber.from(0)

      const targetToken = _.filter(this.data.tokens, token => token.symbol == this.tokenSymbol)[0]

      for (const balance of account.balances) {
        let amount = ethers.BigNumber.from(balance.amount)

        if (!amount.gt(0)) continue

        let result = await this.finw3.GetSingleTokenAmount(
            balance.token.address,
            amount,
            targetToken.address,
            this.graphTargetSwapDirectionOut
        )

        totalUserBalance = totalUserBalance.add(result.amount)
      }

      this.graphTotalBalance = ethers.utils.formatUnits(totalUserBalance, targetToken.decimals)
    },

    tabOpened(event) {
      this.amount = 0
      this.targetTokenAmount = 0
      this.internalTokenAmounts = []
      this.calculatedInternalTokenAmounts = []
      this.updatePortTokenBalance(this.data.portfolio_tokens[event.index].address)
    },
  },

  components: {
  }
}
</script>


<style lang="scss">
  body, html {
    background-color:  var(--surface-e);
    font-family: var(--font-family);
    color: var(--text-color);
    @media screen and (min-width: 768px) {
      background-color:  rgb(25, 25, 25);
    }
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    color: var(--text-color);
    
    .box {
      background-color: var(--surface-f);
      padding: 1.5rem;
      border-radius: 10px;
      @media screen and (min-width: 768px) {
        border: 1px solid #666;
      }
    }

    .p-tabview-panel .box {
      padding-bottom: 20px;
      background-color: #222;
      @media screen and (max-width: 768px) {
        border: 1px solid #666 !important;
      }
    }
  }

  .p-toast-detail {
    font-size: 11px !important;
  }
</style>
